<footer id="footer">
  <div class="outer">
    <div id="footer-info" class="inner">
      &copy; <%= date(new Date(), 'YYYY') %> kido (<a href="https://twitter.com/kido0617">@kido0617</a>)<br>
    </div>
  </div>
</footer>