<header id="header">
  <div id="banner"></div>
  <div id="header-outer" class="outer">
    <div id="header-title" class="inner">
      <span id="logo-wrap">
        <a href="<%- url_for() %>" id="logo"><%= config.title %></a>
      </span>
    </div>
  </div>
</header>