<div class="widget-wrap ad-widget">
  <div class="widget-title">広告</div>
  <% if (!isDevelopment()){ %>
    <div class="widget">
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- レスポンシブ -->
      <ins class="adsbygoogle"
          style="display:block"
          data-ad-client="ca-pub-1232486070209734"
          data-ad-slot="6900476205"
          data-ad-format="auto"
          data-full-width-responsive="true"></ins>
      <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
  <% } %>
</div>


