<div class="widget-wrap">
  <div class="widget-title">Author</div>
  <div class="widget">
    kido (<a href="https://twitter.com/kido0617">@kido0617</a>) / <a href="/portfolio" target="_blank">ポートフォリオ</a>
  </div>
</div>
